! ------------------------------------------------------------------------------
! ROFI setup
! ------------------------------------------------------------------------------

rofi.separator-style:   solid
rofi.font:              Roboto Condensed 14
rofi.color-enabled:     true
rofi.padding:           50
rofi.line-margin:       5
rofi.lines:             10
rofi.width:             1220
rofi.disable-history:   true
rofi.modi:              keys,drun,window,run
rofi.sidebar-mode:      true
rofi.fullscreen:        false

xterm*faceName: "MesloLGS NF Regular"
xterm*faceSize: 24
xterm*renderFont: true